.user-container {
  position: relative;
  overflow: hidden;
  // background-color: rgba(242, 143, 67, 0.098);
  border-bottom: solid #f9a23f 1px;
  clip-path: padding-box;
}

.me {
  background-color: rgba(246, 115, 89, 0.214);
}

.owner {
  background-color: rgba(242, 143, 67, 0.098);
}

.title {
  background-color: white;
  height: 48px;
  padding: 16px;
}

.leaderboard-users {
  border-bottom: solid #f9a23f 1px;
}
