<h2>Challenge page</h2>

<h3> <%= link_to "Create a new challenge! ", new_challenge_path  %></h3>
<ul>
 <% @challenges.each do |challenge| %>
  <li> <%= challenge.name %>
  <%= link_to "Challenge", challenge_path(challenge) %> </li>
  <% end %>
 </ul>
