.about {
  font-family: $main-font;
  font-weight: bolder;
}

.about-points {
  font-size: 50px;
  background-image: linear-gradient(to right, $our-yellow, $our-orange, $darker-orange, rgb(247, 37, 132));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 auto;
  padding: 2px;
}

.about-points-card {
  background-image: linear-gradient(to right, $our-yellow, $our-orange, $darker-orange, rgb(247, 37, 132));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 auto;
  padding: 2px;
}

.social {
  font-size: 25px;
  background-image: linear-gradient(to right, $our-yellow, $our-orange, $darker-orange, rgb(247, 37, 132));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 24px;
}

.about-point-box {
  height: 75%;
  width: 115px;
  padding: 0;
  margin: 0 auto;
}

.about-title-box {
  display: flex;
  justify-content: start;
  align-items: center;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-profile {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.269);
}

.location {
  width: 60px;
  padding-top: 7px;
}

.fav-exercise {
  width: 60px;
  padding: 5px;
  padding-top: 17px;
}

.about-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .about-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.about-big-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .about-big-cards {
    grid-template-columns: 1fr 1fr;
  }
}

.about-data {
  font-size: 13px;
  height: 25%;
  width: 100%;
  text-align: center;
  padding-bottom: 0;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
}

.about-card {
  width: 115px;
  height: 150%;
  padding: 0;
  position: relative;
}

.about-big-card {
  width: 150vw;
  height: 20vh;
  border-radius: 10px;
  background-color: #dbd8d550 ;
}

.social-container {
  position: relative;
  margin-bottom: 0;
}

.cards-box-about {
  height: 17em;
  margin: 0 auto;
  padding-top: 2.5em;
}
