.new-form {
    padding: 1rem;
    height: 115vh;
    overflow: scroll;
    background-color:#F9A33F ;
    color: white;
    h2 {
        margin-top: 1rem;
        text-align: center;
    }
  }



//   linear-gradient(to right, $our-yellow, $our-orange, $darker-orange, rgb(247, 37, 132));