.mapboxgl-popup {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 14px;
  display: flex;
  will-change: transform;
  pointer-events: none;
}

.avatar {
margin-bottom: 10px;
}
.mapboxgl-popup-content {
  color:#f72584;
  font-size: small;
  font-weight: bolder;
  text-align: center !important;
  font-family: "Work Sans", "Helvetica", "sans-serif" !important;
  position: relative;
  background: #FEF4ED;
  border-radius: 14px;
  padding: 7px 7px 8px;
  pointer-events: auto;
}

#info_window h6 {
  background-image: linear-gradient(to right, #f9bc3c, #F9A33F, #F66448, #f72584);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0px, 0px, 0px, 0px;
  margin-bottom: 2px;
  margin-bottom: 0px !important;
  text-align: center;
  font-family: "Work Sans", "Helvetica", "sans-serif";
  font-size: 15px;
  font-weight: bold;
}

.mapboxgl-marker {
background-color: #FEF4ED;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
background: transparent;
border-top-color: #FEF4ED;
}


element.style {
  max-width: 240px;
  transform: translate(-50%, -100%) translate(189px, 309px);
}

.mapboxgl-popup-close-button {
  color:#f72584;
  font-weight: semi-bold;
}

// MAY COME IN HANDY
// .mapboxgl-popup-anchor-bottom {}

.mapboxgl-popup-anchor-center {
  background: transparent;
  border-top-color: #FEF4ED;
  }
