.mapboxgl-popup {
  !important
  background: #FEF4ED
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  will-change: transform;
  pointer-events: none;
}


.mapboxgl-popup-content {
!important
  color: #f72585;
  text-align: center;
  font-family: "Work Sans", "Helvetica", "sans-serif";
  position: relative;
  background: #FEF4ED;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 10px 10px 15px;
  pointer-events: auto;
}

#info_window h2 {
  !important
  color: #f72585;
  text-align: center;
  font-family: "Work Sans", "Helvetica", "sans-serif";
}
