

.mapboxgl-popup-content {
  color: #f72585;
  text-align: center;
  font-family: "Work Sans", "Helvetica", "sans-serif";
}

#info_window h2 {
  color: #f72585;
  text-align: center;
  font-family: "Work Sans", "Helvetica", "sans-serif";
}
