.navbar-lewagon {
  justify-content: space-between;
  background: white;
  // border-top: solid 2px linear-gradient(to right #F66448,#F9A33F)
  border-top: solid 2px #F66448
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// .navbar-app{
//   border-top: #F66448;
// }

.sticky {
  position: fixed;
  bottom: 0;
  width: 100%;
}


// .nav-gradient{
//   border-top: solid 2px #F9A33F;
//   border-style: linear-gradient(to right bottom, #F66448,#F9A33F)
// }
