.navbar-lewagon {
  justify-content: space-between;
  background: white;
  // border-top: solid 2px linear-gradient(to right #F66448,#F9A33F)
  // border-top: solid 2px #F66448
}

.navbar-topborder {
  border-top: solid 2px #F66448
}

.navbar-bottomborder {
  border-bottom: solid 0.5px #F66448
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.sticky {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar-lewagon .navbar-brand #bigger-img {
  width: 60px;
}
