.card-rules {
    height: 160px;
    width: 160px;
    border-radius: 10px;
    background-color: #dbd8d550 ;
    // font-size: larger;
 
    }

.stopwatch-icon {
    font-size: 64px;
}
.running-icon{
    font-size: 64px;
}

