.card-rules {
  width: 11em;
  border-radius: 10px;
  background-color: #dbd8d550;
   h4 {
     color: #5f5858bb;
   }

}

.stopwatch-icon {
    font-size: 64px;
}
.running-icon{
    font-size: 64px;
}
