.stats-icons {
  font-size: larger;
  background-image: linear-gradient(to right, $our-yellow, $our-orange, $darker-orange, rgb(247, 37, 132));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
}

.stats-container {
  padding-top: 100px;
}

.stats-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 7px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .stats-cards {
    grid-template-columns: 1fr 1fr;
  }
}
