.missing-title {
  background-image: linear-gradient(to right, $our-yellow, $our-orange, $darker-orange, rgb(247, 37, 132));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
