<h1>Proof</h1>

<% @exercises.each do |exercise| %>
  <%= exercise.name %>
  <%= link_to exercise_path(@exercise), method: :delete, data: { confirm: "Are you sure?" } do %>
    <i class="far fa-trash-alt"></i>
  <% end %>
<% end %>
